@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


    </section>
    
 <section class="service-section">
     <img class="backgrund-lines-right" src="~/images/backgrund-lines-right.svg" alt=""> 
        <div class="container">
            <div class="section-border">
                <div class="section-title">@Model.Value("ourServicesSectionsTitle")</div>
                <h2>@Model.Value("ourServicesSectionsHeading")</h2>
                     <div class="service-boxes">
                         @Html.GetBlockListHtml(Model.OurServices)
                          </div>
                       <div class="browse-services">
                            <a class="btn-outline-dark" href="@Model.Value("ourServicesSectionsButtonUrl")">@Model.Value("ourServicesSectionsButtonText") <i class="fa-solig arrow-up-right"></i></a>
            </div>
        </div>
    </section>
