@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="showcase-selection">
    <div class="container">
        <div class="content-column">
            <h1>We provide The Best Consulting Service</h1>
            <p>Establish your visionnand value proposition och turn them into testable prototypes.</p>
            <div class="button-links">
                <a class="btn-theme" href="@Model.Value("showcaseButtonUrl")">@Model.Value("showcaseButtonText")<i class="fa-solid fa-arrow-up-right"></i></a>
                <a class="btn-theme" href="@Model.Value("showcaseButtonUrl")>@Model.Value("showcaseButtonText")<i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="image-column">
            <img src="@Model.Value("showcaseImage")" alt="@Model.Value("showcaseTitle")">
        </div>
    </div>
</section>
